<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Lou Harris Music</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="img/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
	<link rel="stylesheet" href="css/core.css">
	<link rel="stylesheet" href="css/theme.css">
</head>
<body class="sticky-header sticky-footer">

	<!-- Preloader -->
	<div id="preloader"></div>
	
	<!-- Header -->
	<header id="header">

		<!-- Logo -->
		<a href=" " class="logo">
			
		</a>

		<!-- Mobile Menu Icon -->
		<a href="#" class="mob-menu">
			<span></span><span></span><span></span>
		</a>

		<!-- Navigation -->
		<nav class="navigation">
			<ul>

				<li class="has-mega-menu">
					<a href="index-hover-grid.html">Home</a>
			
				</li>

				<li>
					<a href="about-me.html">Bio</a>
					<ul>
						
					</ul>
				</li>

				<li class="has-mega-menu">
					<a href="portfolio-horizontal.html">Music Store</a>
								
				</li>

				<li>
					<a href="index-hover-list.html">Events</a>
					
				</li>


				<li>
					<a href="portfolio-2-columns-boxed.html">Videos</a>
					
				</li>

				<li>
					<a href="index-single-video.html">Live Stage</a>
			
				</li>

				<li>
					<a href="contact-me.html">Contact</a>
					
				</li>

			</ul>
		</nav>
		<!-- /Navigation -->

	</header>
	<!-- /Header -->

	<!-- Main Content -->
	<main id="main">

		<!-- Hero -->
		<section class="hero-fullscreen flex-center text-light text-center z-1 py-12 px-5">
			<div class="container">
				<h6 class="uppercase bold small mb-5">Hello There</h6>
				<h1>
					<span class="opacity-06">I'm an </span>
					<span class="bold">Art Director</span> 
					<span class="opacity-06">Based </span>
					<span class="serif italic small">in</span>
					<span class="bold">London</span> 
					<span class="opacity-06">and I'm focused on</span> 
					<span class="italic uppercase1 capitalize serif">excellence</span> 
				</h1>
			</div>
		</section>
		<!-- /Hero -->

		<!-- Scroll Down Line -->
		<a href="#" class="scroll-down"><span></span></a>

		<!-- Hover List -->
		<section class="hover-list py-12 px-6">

			<!-- Hover List MEDIA -->
			<div class="hover-list-media swiper" data-effect="fade">
				
				<!-- Media Item -->
				<div class="swiper-slide">
					<div class="slide-media" data-poster="img/gallery/3.jpg"></div>
				</div>
				<!-- /Media Item -->

				<!-- Media Item - Video -->
				<div class="swiper-slide">
					<div class="slide-media video-background" 
					     data-src="https://vimeo.com/115041822" 
					     data-poster="img/gallery/109.jpg" 
					     data-controls="false" 
					     data-play-icon="false" 
					     data-autoplay="true" 
					     data-loop="true"
					     data-volume="0"> 	
					</div>
				</div>
				<!-- /Media Item - Video -->

				<!-- Media Item - Video -->
				<div class="swiper-slide">
					<div class="slide-media video-background" 
					     data-src="https://vimeo.com/12643755" 
					     data-poster="img/gallery/68.jpg" 
					     data-controls="false" 
					     data-play-icon="false" 
					     data-autoplay="true" 
					     data-loop="true"
					     data-volume="0"> 	
					</div>
				</div>
				<!-- /Media Item - Video -->

				<!-- Media Item -->
				<div class="swiper-slide">
					<div class="slide-media" data-poster="img/gallery/108.jpg"></div>
				</div>
				<!-- /Media Item -->

				<!-- Media Item -->
				<div class="swiper-slide">
					<div class="slide-media" data-poster="img/gallery/85.jpg"></div>
				</div>
				<!-- /Media Item -->

				<!-- Media Item -->
				<div class="swiper-slide">
					<div class="slide-media" data-poster="img/gallery/107.jpg"></div>
				</div>
				<!-- /Media Item -->

			</div>
			<!-- /Hover List MEDIA -->

			<!-- Hover List TITLES -->
			<div class="container text-light text-center px-0">
				<div class="hover-list-links hover-list-grid row no-gutters">

					<!-- Title Item -->
					<div class="item col-lg-4">
						<a href="#">
							<h6 class="item-title">For those I left behind</h6>
							<small class="serif italic">Design, Art</small>
						</a>
					</div>
					<!-- /Title Item -->

					<!-- Title Item -->
					<div class="item video-item col-lg-4">
						<a href="#">
							<h6 class="item-title">Swept Away</h6>
							<small class="serif italic">Design, Art</small>
						</a>
					</div>
					<!-- /Title Item -->

					<!-- Title Item -->
					<div class="item video-item col-lg-4">
						<a href="#">
							<h6 class="item-title">The New Essence</h6>
							<small class="serif italic">Design, Art</small>
						</a>
					</div>
					<!-- /Title Item -->

					<!-- Title Item -->
					<div class="item col-lg-4">
						<a href="#">
							<h6 class="item-title">Martian Child</h6>
							<small class="serif italic">Design, Art</small>
						</a>
					</div>
					<!-- /Title Item -->

					<!-- Title Item -->
					<div class="item col-lg-4">
						<a href="#">
							<h6 class="item-title">Nightcall</h6>
							<small class="serif italic">Design, Art</small>
						</a>
					</div>
					<!-- /Title Item -->

					<!-- Title Item -->
					<div class="item col-lg-4">
						<a href="#">
							<h6 class="item-title">New Sol, New Hope</h6>
							<small class="serif italic">Design, Art</small>
						</a>
					</div>
					<!-- /Title Item -->

				</div>
			</div>
			<!-- /Hover List TITLES -->

		</section>
		<!-- /Hover List -->

		<!-- CTA -->
		<section class="cta">
			<div class="container text-light py-12">

				<div class="row align-items-center p-5">
					<div class="col-md">
						<h2 data-animation="fade-in-bottom 800ms 200ms" class="m-0">Let's work together</h2>
					</div>
					<div class="col-auto">
						<a data-animation="fade-in-bottom 500ms 500ms" href="#" class="button style-7 mb-0">Contact Me</a>
					</div>
				</div>

			</div>
		</section>
		<!-- /CTA -->

	</main>
	<!-- /Main Content -->

	<!-- Footer -->
	<footer id="footer">
		
		<!-- Copyright -->
		<small>&copy; Copyright. AchtungThemes 2018</small>

		<!-- Social/Contact Links -->
		<div class="small text-links">
			<a href="#">Facebook</a>
			<a href="#">Behance</a>
			<a href="#">Instagram</a>
		</div>

	</footer>
	<!-- /Footer -->

	<!-- JS -->
	<script src="js/core.js"></script>
	<script src="js/theme.js"></script>
</body>
</html>
